.headbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 4;
	background-image: linear-gradient(267deg, #2d2d2d 0%, #404040 99%);
	padding: 0 40px;
}

.header__container {
	width: 100%;
	justify-content: space-between;
	align-items: center;
} 

.header__logo {
	max-width: 140px;
}

.header__logo__link {
	width: 220px;
}

.header__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 560px;
}

.header__logo, .header__navbar li {
	display: inline-block;
	vertical-align: middle;
}

.header__navbar li:last-child {
	padding-right: 0;
}

.nav__link {
	display: block;
	width: 140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Euphemia, sans-serif;
	font-size: 16px;
	color: #ffffff;
}

.mobile-nav__btn {
	display: none;
	padding: 0;
	background-color: #313131;
	color: white;
}

.icon-menu {
	font-size: 32px;
}

.header__navbar_mobile {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
	align-items: center;
	justify-content: center;
	background-color: #3d3d3d;
	max-width: 100%;
	margin-top: 52px;
	padding: 3px 0;
}

.navbar_mobile {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar_mobile li {
	display: flex;
	width: 192px;
	/*flex-grow: 1;*/
	border-right: 1px solid #313131;
	margin: 10px 0;
	justify-content: center;
}

.navbar_mobile li:last-child {
	border: none;
}

.nav__link_mobile {
	display: block;
	text-align: center;
	line-height: 26px;
	font-family: Euphemia, sans-serif;
	font-size: 14px;
	color: #ffffff;
}
