@media (max-width: 1280px) {
.intro__wrap {
	margin: 90px 0 0 40px;
}

.demo__wrap iframe {
	width: 460px; 
	height: 320px;
}

.like-btn {
	width: 220px;
	height: 50px;
}
.demo-slide__container {
	padding: 180px 70px 150px 70px;
}

.technology-slide__container {
	padding: 80px 70px 150px 70px;
}

.demo-slide__container {
	background: url(img/arrow_slide_2_tablet.png) 100% 78% no-repeat;
}

.contacts-slide__container {
	background: url(img/arrow_slide_5_tablet.png) 100% 100% no-repeat,
	            url(img/white_arrow_slide_5_tablet.png) 0% 70% no-repeat;
}

.technology-slide__container {
	background: url(img/arrow_slide_3_tablet.png) 0% 100% no-repeat;
}
.item__head {
	margin: 10px 0;
	font-size: 10px;
}
}

@media (min-width: 1366.1px) {
.technology__wrap_right {
	max-width: 555px;
}

.technology-item {
	flex-grow: 1;
	flex-basis: 155px;
}

.item__head {
	margin: 20px 0;
	font-size: 11px;
}
}

@media (min-width: 1441px) {
.flex-container {
	max-width: 100%;
}

.intro__pic_wrap {
	max-width: 38.6%;
}

.intro_pic_secondary {
	max-width: 70%;
}

.intro__wrap {
	max-width: 30.8%;
}

.demo__wrap {
	max-width: 55%;
}

.demo-descriprion__wrap {
	max-width: 31%;
}

.technology__wrap_left {
	max-width: 33%;
}

.technology__wrap_right {
	max-width: 52%;
}

.email__wrap, .twitter__wrap, .feedback-form__wrap  {
	max-width: 45%;
}

.value__head {
	width: 80%;
}

.value__list {
	max-width: 80%;
}

.address__wrap {
	width: 48%;
}
}

@media (min-width: 1700px) {

.demo-descriprion__wrap {
	max-width: 53%;
}

.technology-slide__container {
	padding: 120px 155px 155px 130px;
}

.technology__wrap_left {
	max-width: 44%;
}
.technology__wrap_right {
	max-width: 42%;
}
.general-text {
	font-size: 18px;
	font-weight: 400;
}
.value__item {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 400;
	text-align: justify;
}
.head-secondary {
	font-size: 21.3px;
	font-weight: 400;
}

.animation__wrap {
	max-width: 45%;
}

.animation__container {
	margin-top: -110px;
	margin-bottom: -110px;
}
.contacts-slide__container {
	padding: 10px 40px 30px;
}
}