@media (max-width: 1180px) {
.intro__wrap {
	margin: 90px 0 0 40px;
}
}

@media (min-width: 1441px) {
.flex-container {
	max-width: 100%;
}

.intro__pic_wrap {
	max-width: 40%;
}

.intro_pic_secondary {
	max-width: 80%;
}

.intro__wrap {
	max-width: 35%;
}

.demo__wrap {
	max-width: 48%;
	max-height: initial;
}

.demo-descriprion__wrap, .technology__wrap_left {
	max-width: 31%;
}

.technology__wrap_right {
	max-width: 48%;
}
}
